# IDE 相关文件
*.iml
.idea/
.vscode/
/.vscode/

# 构建相关文件
.gradle/
/build
/app/release
/app/debug
debug/
.externalNativeBuild
.cxx
/buildSrc/build/
/buildSrc/.gradle/
/gradle-app.setting

# 系统相关文件
.DS_Store

# 本地配置文件
/local.properties
local.properties

# 其他文件
/.kotlin
/captures
/.trae/
.qoder/
