<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application>
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize"
            android:exported="true"
            android:theme="@style/Theme.ScrcpyForAndroid" />

        <service
            android:name=".services.AudioForwardingService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />
    </application>

</manifest>
